.btn-menu-container {
    position: sticky;
    bottom: 5rem;
}

.btn-menu {
    position: absolute;
    right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.8s ease-in-out;
}

.btn-menu * {
    user-select: none;
}

.btn-menu__item {
    position: absolute;
    width: 4rem;
    height: 4rem;
    aspect-ratio: 1 / 1;
    background-color: #202020;
    color: var(--clr-pastel-green);
    border: solid 0.16rem var(--clr-pastel-green);
    border-radius: 50%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    transition: right 0.4s ease-in-out;
}

.btn-menu__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn-menu__item a i {
    transition: right 0.4s ease-in-out;
}

.show {
    transform: translateY(0);
    opacity: 1;
}