.form-section {
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--md-gap);
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--md-gap);
    width: 90%;
}

@media only screen and (min-width: 678px) {
    .form {
        width: 70%;
    }
}

.form__field {
    display: flex;
    flex-direction: column;
    padding-inline: var(--sm-padding);
    width: 100%;
}

.form__field input,
.form__field textarea {
    padding-block: var(--sm-padding);
    background: transparent;
    color: var(--clr-white);
    border-bottom: solid thin var(--clr-pastel-green);
    border-radius: 0;
}

.form__field textarea {
    height: 120px;
    resize: none;
}

.form__field input::placeholder,
.form__field textarea::placeholder {
    color: rgba(255, 255, 255, 0.4);
}

.form__field label {
    color: var(--clr-white);
    font-weight: bold;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: var(--sm-gap);
    margin-block: auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    max-height: 70%;
    padding: var(--md-padding);
    background: var(--clr-dark);
    color: var(--clr-white);
    border-radius: var(--border-radius);
    box-shadow: 0 0 0.7rem var(--clr-pastel-green);
}

.modal::backdrop {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(3px);
}