@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Declaring global CSS variables */
:root {
    --sm-gap: 1rem;
    --md-gap: 2rem;
    --lg-gap: 4rem;

    --sm-padding: 1rem;
    --md-padding: 2rem;
    --lg-padding: 4rem;

    --sm-margin: 1rem;
    --md-margin: 2rem;
    --lg-margin: 4rem;

    --border-radius: 0.4rem;

    --clr-dark: #101010;
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-cyan: #00c6cf;
    --clr-pastel-green: #C2F581;
    --clr-light-green: #6e9c3a;
}

/* Initial global setup */
*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html {
    color-scheme: dark light;
    /* scroll-snap-type: y mandatory; */
}

body {
    margin: 0;
    line-height: 1.5;
    background-color: var(--clr-dark);
    color: var(--clr-white);
    font-family: 'Montserrat', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

header {
    position: relative;
}

section {
    padding-block: var(--lg-padding); /* Same padding-top: 4rem; + padding-bottom: 4rem; */
    margin-block: var(--lg-margin);
    /* scroll-snap-align: start;
    scroll-snap-stop: always; */
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}

::-moz-selection { /* Code for Firefox */
    color: var(--clr-white);
    background: var(--clr-light-green);
  }
  
  ::selection {
    color: var(--clr-white);
    background: var(--clr-light-green);
  }

/* Customizing scrollbar */
::-webkit-scrollbar {
    width: 1rem;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: rgba(194,245,129,0.5) ;
    border-radius: 100vw;
    /* margin-block: var(--sm-margin); */
}

::-webkit-scrollbar-thumb {
    background: var(--clr-pastel-green);
    border-radius: var(--border-radius);
    /* border: 0.2rem solid var(--clr-light-green); */
}

@supports (scrollbar-color: var(--clr-pastel-green) var(--clr-light-green)) {
    * {
        scrollbar-color: var(--clr-pastel-green) var(--clr-light-green);
    }
}

/* Container */
.container {
    margin-inline: auto; /* Same as margin-left: auto; + margin-right: auto; */
    padding-inline: var(--sm-padding); /* Same as padding-left: 1rem; + padding-right: 1rem; */
    max-width: 992px;
}

/* Button */
.btn {
    display: flex;
    gap: calc(var(--sm-gap) / 4);
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--clr-light-green);
    color: var(--clr-white);
    max-width: fit-content;
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Link */
.link {
    display: flex;
    align-items: center;
    gap: calc(var(--sm-gap) / 2);
    color: var(--clr-pastel-green);
    font-weight: 700;
}

.btn i {
    transition: 0.2s ease-in-out;
}

.btn:hover i {
    transform: translateX(3px);
}

.btn:hover,
.link:hover {
    cursor: pointer;
}

/* Highlighted words */
.highlight-wd {
    font-weight: 700;
    color: var(--clr-pastel-green);
}

/* Cards container */
.cards {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: var(--md-gap);
}
