.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7) 30%, #000000), url("/images/hero-img-smaller.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-block: 0;
}

.hero {
    position: relative;
}