.bga-container {
    position: relative;
    /* width: 100%;
    max-width: 200px; */
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shape-frame-right {
    animation: levitate-right 10s linear infinite;
    opacity: 0;
}

@keyframes levitate-right {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(200px);
        opacity: 0;
    }
}

.shape-frame-left {
    animation: levitate-left 10s linear infinite;
    opacity: 0;
}

@keyframes levitate-left {
    0% {
        transform: translateX(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.shape {
    border: solid 0.1rem rgba(194, 245, 129, .4);
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 0 0.5rem rgba(194, 245, 129, .4);
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(45deg);
    }
}