.logo-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    order: 2;
}

.logo {
    width: 100%;
    max-width: 280px;
    user-select: none;
    animation: opacity-pulse 8s linear infinite;
    opacity: 0.7;
    border-radius: 50%;
    box-shadow: 0 0 2rem var(--clr-light-green);
}

@keyframes opacity-pulse {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

@media only screen and (max-width: 664px) {
    .logo-container {
        order: 0;
    }

    .logo {
        max-width: 180px;
    }
}