.divider-section {
    position: relative;
    padding-block: 150px;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    margin-block: var(--md-gap);
}

.divider-section::after {
    content: '';
    background-image: linear-gradient(
            30deg,
            #00755E 10%,
            var(--clr-light-green),
            #00755E
    );
    position: absolute;
    z-index: -1;
    inset: 0; /* top: 0;, bottom: 0;, left: 0;, right: 0; */
    /* transform: skewY(-2deg); */
}

.divider-skew-left::after {
    transform: skewY(-2deg);
}

.divider-skew-right::after {
    transform: skewY(2deg);
}

.divider {
    display: flex;
    flex-direction: column;
    gap: var(--md-gap);
    transform: translateX(-100%);
    opacity: 0;
    transition: 1000ms;
}

.show {
    transform: translateX(0);
    opacity: 1;
}