.projects-section {
    display: block;
}

.interblock__snap-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: var(--md-gap);
    overflow-x: scroll;
    /* overflow: hidden; */
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -webkit-mask: linear-gradient(
        90deg,
        transparent, 
        var(--clr-white) 5%,
        var(--clr-white) 95%,
        transparent
    );

    mask: linear-gradient(
        90deg,
        transparent, 
        var(--clr-white) 5%,
        var(--clr-white) 95%,
        transparent
    );
}


.interblock__snap-container::-webkit-scrollbar {
    height: 0.8rem;
}

.interblock__snap-container::-webkit-scrollbar-track {
    margin-inline: var(--sm-margin);
    border-radius: 100vw;
}

.interblock__snap-item {
    padding-block: var(--sm-padding);
    padding-inline: var(--sm-padding);
    scroll-snap-align: start;
}

@media only screen and (max-width: 360px)  {
    .interblock__snap-item {
        padding-inline: 0;
    }
}