.ref-container {
    display: flex;
    /* justify-content: center; */
}

.ref-box {
    display: flex;
    flex-direction: column;
    gap: var(--sm-gap);
    /* max-width: 90%; */
    padding: var(--sm-padding);
    border-left: solid thin var(--clr-pastel-green);
}

.ref-description {
    display: flex;
    flex-direction: column;
    gap: var(--sm-gap);
    color: rgba(255, 255, 255, 0.7);
    font-style: italic;
}