.card-wrapper {
    height: 100%;
    order: 0;
}

@media only screen and (max-width: 664px) {
    .order-card {
        order: 1;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--sm-gap);
    height: 100%;
    border-radius: var(--border-radius);
}

.card__footer {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--sm-gap);
}

.card__glass {
    padding: var(--md-padding);
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.card__emblem-wrapper {
    position: absolute;
    /* to hide card border we set negative position */
    right: -0.1rem;
    top: -0.1rem;
}

.card__emblem-bg {
    position: relative;
    background-color: var(--clr-dark);
    padding: 2rem;
    border-bottom-left-radius: var(--border-radius);
}

.card__emblem {
    position: absolute;
    /* to handle card border */
    top: 0.05rem;
    right: 0.05rem;
    width: 4rem;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    aspect-ratio: 1 / 1;
    background: rgba(255, 255, 255, 0.06);
    border: rgba(0,0,0,0.34) solid thin;
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    transform: translate(0.5rem, -0.5rem);
    animation: 2s infinite alternate floating;
}

.card__emblem i {
    color: var(--clr-pastel-green);
}

@keyframes floating {
    0% {
        transform: translate(0.5rem, -0.5rem);
    }
    100% {
        transform: translate(0.5rem, -0.75rem);
    }
}