.exp-list {
    position: relative;
    margin-left: var(--sm-margin);
    display: flex;
    gap: var(--sm-gap);
    flex-direction: column;
}

.exp-list li {
    position: relative;
    display: flex;
    gap: var(--sm-gap);
    flex-direction: column;
}

.exp-list li > div:last-child {
    min-width: 70%;
}

@media screen and (min-width: 360px) {
    .exp-list li {
        flex-direction: row;
        gap: var(--md-gap);
    };
}

.exp-list::after {
    content: '';
    position: absolute;
    top: 0;
    left: -0.6rem;
    height: 100%;
    width: 0.1rem;
    border-radius: 2rem;
    background: linear-gradient(to bottom, var(--clr-pastel-green), var(--clr-light-green));
}