.scroller {
    max-width: 600px;
    overflow: hidden;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent, 
        var(--clr-white) 20%,
        var(--clr-white) 80%,
        transparent
    );

    mask: linear-gradient(
        90deg,
        transparent, 
        var(--clr-white) 20%,
        var(--clr-white) 80%,
        transparent
    );
}

.scroller__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 1rem;
}

.scroller[data-animated="true"] .scroller__inner {
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll var(--animation-time, 30s) var(--animation-direction, forwards) linear infinite;
}

.scroller[data-direction="left"] {
    --animation-direction: forwards;
    --animation-time: 40s;
}

.scroller[data-direction="right"] {
    --animation-direction: reverse;
    --animation-time: 15s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 1rem));
    }
}

.badge,
.badge::before,
.badge::after {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 3.2rem;
    border-radius: 0.5rem;
}

.skill-badges li:nth-of-type(1) .badge,
.skill-badges li:nth-of-type(1) .badge::before,
.skill-badges li:nth-of-type(1) .badge::after,
.duplicated-skills-item-0 .badge,
.duplicated-skills-item-0 .badge::before,
.duplicated-skills-item-0 .badge::after {
    background: linear-gradient(to right bottom, #FFFF00 30%, rgb(228, 228, 7));
}
.skill-badges li:nth-of-type(2) .badge,
.skill-badges li:nth-of-type(2) .badge::before,
.skill-badges li:nth-of-type(2) .badge::after,
.duplicated-skills-item-1 .badge,
.duplicated-skills-item-1 .badge::before,
.duplicated-skills-item-1 .badge::after {
    background: linear-gradient(to right bottom, #E34C26 30%, #F06529);
}
.skill-badges li:nth-of-type(3) .badge,
.skill-badges li:nth-of-type(3) .badge::before,
.skill-badges li:nth-of-type(3) .badge::after,
.duplicated-skills-item-2 .badge,
.duplicated-skills-item-2 .badge::before,
.duplicated-skills-item-2 .badge::after {
    background: linear-gradient(to right bottom, #264de4, 30%, #0088F7) !important;
}
.skill-badges li:nth-of-type(4) .badge,
.skill-badges li:nth-of-type(4) .badge::before,
.skill-badges li:nth-of-type(4) .badge::after,
.duplicated-skills-item-3 .badge,
.duplicated-skills-item-3 .badge::before,
.duplicated-skills-item-3 .badge::after {
    background: linear-gradient(to right bottom, #F2778E 30%, #CC699C ) !important;
}
.skill-badges li:nth-of-type(5) .badge,
.skill-badges li:nth-of-type(5) .badge::before,
.skill-badges li:nth-of-type(5) .badge::after,
.duplicated-skills-item-4 .badge,
.duplicated-skills-item-4 .badge::before,
.duplicated-skills-item-4 .badge::after {
    background: linear-gradient(to right bottom, #5C3566 30%, #9B4771) !important;
}
.skill-badges li:nth-of-type(6) .badge,
.skill-badges li:nth-of-type(6) .badge::before,
.skill-badges li:nth-of-type(6) .badge::after,
.duplicated-skills-item-5 .badge,
.duplicated-skills-item-5 .badge::before,
.duplicated-skills-item-5 .badge::after {
    background: linear-gradient(to right bottom, #306998 30%, #6A9CCF) !important;
}
.skill-badges li:nth-of-type(7) .badge,
.skill-badges li:nth-of-type(7) .badge::before,
.skill-badges li:nth-of-type(7) .badge::after,
.duplicated-skills-item-6 .badge,
.duplicated-skills-item-6 .badge::before,
.duplicated-skills-item-6 .badge::after {
    background: linear-gradient(to right bottom, #61DBFB 30%, #5BBEF7) !important;
}
.skill-badges li:nth-of-type(8) .badge,
.skill-badges li:nth-of-type(8) .badge::before,
.skill-badges li:nth-of-type(8) .badge::after,
.duplicated-skills-item-7 .badge,
.duplicated-skills-item-7 .badge::before,
.duplicated-skills-item-7 .badge::after {
    background: linear-gradient(to right bottom, #F34F29 30%,#CE2C0B) !important;
}
.skill-badges li:nth-of-type(9) .badge,
.skill-badges li:nth-of-type(9) .badge::before,
.skill-badges li:nth-of-type(9) .badge::after,
.duplicated-skills-item-8 .badge,
.duplicated-skills-item-8 .badge::before,
.duplicated-skills-item-8 .badge::after {
    background: linear-gradient(to right bottom, #096484 30%, #5197B9) !important;
}
.skill-badges li:nth-of-type(10) .badge,
.skill-badges li:nth-of-type(10) .badge::before,
.skill-badges li:nth-of-type(10) .badge::after,
.duplicated-skills-item-9 .badge,
.duplicated-skills-item-9 .badge::before,
.duplicated-skills-item-9 .badge::after {
    background: linear-gradient(to right bottom, #303030 30%, #000000) !important;
}
.skill-badges li:nth-of-type(11) .badge,
.skill-badges li:nth-of-type(11) .badge::before,
.skill-badges li:nth-of-type(11) .badge::after,
.duplicated-skills-item-10 .badge,
.duplicated-skills-item-10 .badge::before,
.duplicated-skills-item-10 .badge::after {
    background: linear-gradient(to right bottom, #3C873A 30%, #68A063) !important;
}

.skill-badges li:nth-of-type(12) .badge,
.skill-badges li:nth-of-type(12) .badge::before,
.skill-badges li:nth-of-type(12) .badge::after,
.duplicated-skills-item-11 .badge,
.duplicated-skills-item-11 .badge::before,
.duplicated-skills-item-11 .badge::after {
    background: linear-gradient(to right bottom, #007acc 30%, #009fde) !important;
}

.interests-badges li:nth-of-type(1) .badge,
.interests-badges li:nth-of-type(1) .badge::before,
.interests-badges li:nth-of-type(1) .badge::after,
.duplicated-interests-item-0 .badge,
.duplicated-interests-item-0 .badge::before,
.duplicated-interests-item-0 .badge::after {
    background: linear-gradient(to right bottom, #00b7eb 30%, #00ced1) !important;
}
.interests-badges li:nth-of-type(2) .badge,
.interests-badges li:nth-of-type(2) .badge::before,
.interests-badges li:nth-of-type(2) .badge::after,
.duplicated-interests-item-1 .badge,
.duplicated-interests-item-1 .badge::before,
.duplicated-interests-item-1 .badge::after {
    background: linear-gradient(to right bottom, #3C873A 30%, #68A063) !important;
}
.interests-badges li:nth-of-type(3) .badge,
.interests-badges li:nth-of-type(3) .badge::before,
.interests-badges li:nth-of-type(3) .badge::after,
.duplicated-interests-item-2 .badge,
.duplicated-interests-item-2 .badge::before,
.duplicated-interests-item-2 .badge::after {
    background: linear-gradient(to right bottom, #800080 30%, #9932cc) !important;
}
.interests-badges li:nth-of-type(4) .badge,
.interests-badges li:nth-of-type(4) .badge::before,
.interests-badges li:nth-of-type(4) .badge::after,
.duplicated-interests-item-3 .badge,
.duplicated-interests-item-3 .badge::before,
.duplicated-interests-item-3 .badge::after {
    background: linear-gradient(to right bottom, #303030 30%, #000000) !important;
}
.interests-badges li:nth-of-type(5) .badge,
.interests-badges li:nth-of-type(5) .badge::before,
.interests-badges li:nth-of-type(5) .badge::after,
.duplicated-interests-item-4 .badge,
.duplicated-interests-item-4 .badge::before,
.duplicated-interests-item-4 .badge::after {
    background: linear-gradient(to right bottom, #ffd700 30%, #daa520) !important;
}

.badge::before {
    position: absolute;
    content: '';
    display: block;
    transform: rotate(60deg);
}
.badge::after {
    position: absolute;
    content: '';
    display: block;
    transform: rotate(-60deg);
}

.badge__logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 3.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 0 0.4rem #404040;
}

.badge__name {
    position: absolute;
    bottom: -0.2rem;
    z-index: 2;
    padding: 0.2rem 0.5rem;
    background-color: #202020;
    border-radius: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-family: Arial, serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}