.contact {
    position: initial;
}

.contact__hero {
    position: absolute;
    bottom: calc(-200px + 1rem);
    left: 2rem;
}

.contact ul,
.contact__hero ul {
    display: flex;
    gap: var(--sm-gap);
}

.contact__link i {
    color: var(--clr-white);
    opacity: 0.5;
    transition: 0.4s ease-in-out;
}

.contact__link:hover i {
    color: var(--clr-pastel-green);
    opacity: 0.7;
}