.footer-section {
    margin-bottom: 0;
}

.footer__bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--sm-gap);
    padding-top: var(--md-padding);
}

.footer__bottom::before {
    content: '';
    position: absolute;
    top: -1rem;
    /* left: 50%;
    transform: translateX(-50%); */
    height: 0.1rem;
    width: 100%;
    background-color: var(--clr-pastel-green);
}

.footer__year {
    color: var(--clr-pastel-green);
}