.nav {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(2px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 992px;
    padding: calc(var(--sm-padding) * 0.6) var(--sm-padding);
}

.nav-container small {
    color: var(--clr-white);
}

@media only screen and (max-width: 390px) {
    .nav-container small{
        display: none;
    }
}

.navbar {
    display: flex;
    align-items: center;
    gap: var(--md-gap);
}

.nav-logo {
    max-width: 1.8rem;
}